* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Merriweather Sans', sans-serif;
    margin: 0;
    background-attachment: fixed;
    font-family: sans-serif;
    background-color: #333;
}

a {
    text-decoration: none;
}

/*****************header and navigation bar******************/

header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #333;
    padding: 7px 20px 7px 20px;
    top: 0;
    width: 100%;
    border-top: 10px solid red;
    border-bottom: 10px solid #00aef3;
    z-index: 100;
}

.search-form {
    width: 100%;
    animation-name: opacityAnimation;
    animation-duration: 4s;
    opacity: 1;
}

.current-location {
    color: #00aef3;
    margin: 0;
    padding-bottom: 5px;
}

.block {
    display: block;
    color: white;
}

.current-location:hover {
    text-decoration: underline;
    cursor: pointer;
}

#search-input {
    display: inline-block;
    font-size: 15pt;
    width: 500px;
    padding-left: 10px;
    margin-bottom: 20px;
    height: 30px;
}

button {
    font-size: 15pt;
    background-color: #00aef3;
    height: 30px;
    border: none;
}

header button{
    position: absolute;
}

button:hover {
    cursor: pointer;
}

/***************Logo********************/

.logo-container {
    display: flex;
    margin: 0 auto;
    top: 15px;
    align-items: center;
    padding: 10px;
    height: 50px;
    color: white;
    font-size: 20pt;
}

.logo-container {
    cursor: pointer;
    font-family: 'Lobster', cursive;
}

.logo {
    font-family: 'Lobster', cursive;
    animation-name: logoFontAnimation;
    animation-duration: 3s;
    font-size: 25pt;
}

.R {
    background-color: #f1242b;
}

.D {
    color: #00AEF3;
    border: 3px solid #00AEF3;
    border-radius: 50%;
}

/************Initial message************/

.initial-message {
    position: relative;
    margin: 0 auto;
    width: 50%;
    top: 120px;
    font-size: 20pt;
    color: lightgrey;
    font-family: 'Lato', 'Merriweather Sans', sans-serif;
}

.initial-message img {
    display: block;
    height: 180px;
    margin: 20px 0 10px 0px;
}

.initial-font {
    animation-name: opacityAnimation;
    animation-duration: 3s;
}

.initial-message a{
    color: lightgrey;
}

.lobster {
    font-family: 'Lobster', cursive;
}

/****************initial search******************/

.flex {
    display: flex;
}

.initial-input {
    width: 50%;
    height: 30px;
    font-size: 15pt;
    padding-left: 10px;
    margin-right: 10px;
}

.initial-button {
    width: 80px;
    font-size: 15pt;
    border-radius: 5pt;
    height: 30px;
}

/*****************result profile*****************/

.result-container {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
    list-style-type: none;
}

.profile-container {
    flex: 1;
    padding: 20px;
}

.profile {
    padding: 15px;
}

.image {
    width: 100%;
    max-height: 290px;
    border-radius: 15px;
}

/*****************result contact*****************/

.profile {
    font-family: 'Lato', 'Merriweather Sans', sans-serif;
}

.profile h3 {
    margin: 5px;
}

.facebook {
    margin-right: 25px;
}

/*****************Footer*****************/
footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: #333;
    height: 50px;
    width: 100%;
}

.github {
    height: 40px;
}


/*****************javascript classes****/

.hidden {
    display: none;
}

.red {
    border: 3px solid red;
}

.blue {
    border: 3px solid #00AEF3;
}

/****************animation*************/

.opacityAnimation {
    animation-name: searchAnimation;
    animation-duration: 1.5s;
}

@keyframes opacityAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.headerAnimation {
    animation-name: headerAnimation;
    animation-duration: 1.5s;
    border: none;
}

@keyframes headerAnimation{
    from {
        border-top: 10px solid red;
        border-bottom: 10px solid #00aef3;
    }
    to {
        border: none;
    }
}

.logoAnimation {
    animation-name: logoAnimation;
    animation-duration: 1.5s;
    border-top: 5px solid red;
    border-bottom: 5px solid #00aef3;
    height: 60px;
}

@keyframes logoAnimation {
    from {
        border-top: 0px solid red;
        border-bottom: 0px solid #00aef3; 
    }
    to {
        border-top: 5px solid red;
        border-bottom: 5px solid #00aef3; 
    }
}

.bodyAnimation {
    animation-name: bodyAnimation;
    animation-duration: 1.5s;
    background-color: white;
}

@keyframes bodyAnimation {
    from {background-color: #333;}
    to {background-color: white;}
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Merriweather Sans', sans-serif;
*/