@media only screen and (max-width: 680px) {
    
    header {
        padding: 5px 10px 5px 10px;
    }
    
    #search-input {
        width: 250px;
    }
    
    .result-container {
        flex-direction: column;
        padding-left: 0;
    }

    .profile-container {
        max-width: 400px;
        margin: 0 auto;
    }

    .initial-message {
        left: 15px;
    }

    .initial-font {
        font-size: 20px;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #search-input {
        width: 150px;
    }

    .result-container {
        margin: 0;
        padding-left: 0;
    }

    .logo-container {
        height: 25px;
        font-size: 10px;
    }

    .logo-container {
        margin: 0;
        right: 5px;
        top: 18px;
        padding: 5px;
        border-top: 3px solid #f1242b;
        border-bottom: 3px solid #00AEF3;
    }

    .logo {
        font-size: 12pt;
    }   

    .current-location {
        font-size: 10pt;
    }

}